<div class="my-5" >
    <div class="p-5 page" size="A4">
        <section class="donation-value">
            <div class="value">
                <h4>Enter your donation</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control shadow-none" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">VND</span>
                  </div>
            </div>
        </section>

        <section class="balance-info">
            <div class="balance-container">
                <div class="title">
                    <h4>Select a <span style="color: #ef6767">Payment</span> method</h4>
                </div>
        
                <form action="#">
                    <input type="radio" name="payment" id="visa">
                    <input type="radio" name="payment" id="mastercard">
                    <input type="radio" name="payment" id="paypal">
                    <input type="radio" name="payment" id="AMEX">
        
        
                    <div class="category">
                        <label for="visa" class="visaMethod">
                            <div class="imgName">
                                <div class="imgContainer visa">
                                    <img src="https://res.cloudinary.com/ndthiencloudinary/image/upload/v1733320811/Icon_VNPAY-QR_yyryng.png" alt="">
                                </div>
                                <span class="name">VNPAY</span>
                            </div>
                            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
                        </label>
        
                        <label for="mastercard" class="mastercardMethod">
                            <div class="imgName">
                                <div class="imgContainer mastercard">
                                    <img src="https://res.cloudinary.com/ndthiencloudinary/image/upload/v1733320879/Logo_ZaloPay_Square_gopnh7.png" alt="">
                                </div>
                                <span class="name">ZALOPAY</span>
                            </div>
                            <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
                        </label>
                    </div>
                </form>
            </div>
        </section>

        <section class="top-content bb d-flex justify-content-between">
            <div class="logo">
                <img src="logo.png" alt="" class="img-fluid">
                Your Donation
            </div>
        </section>

        <section class="store-user mt-5">
            <div class="col-10">
                <div class="row bb pb-3">
                    <div class="col-7">
                        <p>Title</p>
                        <h4>Vi nguoi khuyet tat ra tay tuong tro</h4>
                        <p class="address"> 777 Brockton Avenue, <br> Abington MA 2351, <br>Vestavia Hills AL </p>
                    </div>
                    <div class="col-5">
                        <p>Organiser</p>
                        <h4>Sabur Ali</h4>
                    </div>
                </div>
                <div class="row extra-info pt-3">
                    <div class="col-7">
                        <p>Payment Method: <span>VnPay</span></p>
                        <p>Total: <span>500000 vnd</span></p>
                    </div>
                    <div class="col-5">
                        <p>Deliver Date: <span>10-04.2021</span></p>
                    </div>
                </div>
            </div>
        </section>

        <div class="pay-btn">
            <button class="payment">Pay</button>
        </div>
    </div>
</div>