<div class="profile-container">
    <!-- HOME SECTION DESIGN -->
    <section class="home" id="home">
        <div class="home-content">
            <h1>Xin chào, Chúng tôi là <span>{{organiser.name}}</span></h1>
            <div class="text-animate-container">
                <div class="text-animate">
                    <h3>DONA Organiser</h3>
                </div>
            </div>
            <p>{{organiser.description}}</p>
            <!-- <div class="btn-box">
                <a href="#" class="btn">Get Started</a>
            </div> -->
        </div>

        <div class="home-img">
            <img [src]="organiser.certificationSrc" alt="certification">
        </div>
        <div class="home-imghover"></div>
    </section>

    <!-- ABOUt SECTION DESIGN -->
    <section class="about" id="about">
        <div class="about-img">
            <img [src]="organiser.avaSrc" alt="avatar">
            <span class="circle-spin"></span>
        </div>

        <div class="about-content">
            <h2 class="heading">Sơ lược về <span>{{organiser.name}}</span></h2>
            <div class="information">
                <div class="text">Mã tổ chức: <span>{{organiser.id}}</span></div>
                <div class="text">Tên: <span>{{organiser.name}}</span></div>
                <div class="text">Ngày thành lập: <span>{{organiser.dob}}</span></div>
                <div class="text">Địa chỉ: <span>{{organiser.address}}</span></div>
                <div class="text">Email: <span>{{organiser.email}}</span></div>
                <div class="text">Số điện thoại: <span>{{organiser.accountId}}</span></div>
            </div>
        </div>
    </section>

    <!-- CAMPAIGNS SECTION DESIGN -->
    <section class="campaign" id="campaign">
        <h2 class="heading">Our <span>Campaigns</span></h2>

        <div class="campaign-container">
            <ul>
                <li>
                    <h3 class="title">Bài Tập Tuần 3</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 3</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 4</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 4</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 5</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 5</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 6</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 6</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 7</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 7</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 8</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 8</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 9</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 9</span>
                </li>
                <li>
                    <h3 class="title">Bài Tập Tuần 10</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae architecto quo nemo commodi veniam numquam neque vel aliquid quis, quisquam excepturi nisi nam repellendus enim ea. Harum itaque suscipit corrupti.</p>
                    <a href="#">Go On ></a>
                    <span class="circle"></span>
                    <span class="date">Week 10</span>
                </li>
            </ul>
        </div>
    </section>
</div>
